.text {
  font-size: 100px;
  font-family: 'Arial Black';
  font-weight: bold;
  text-align: center;
}

.color1 {
  color: #ff0204;
}

.color2 {
  color: #007ad6;
}

.color3 {
  color: #0ac4ea;
}

.color4 {
  color: #f9ae06;
}

.color5 {
  color: #4fdf00;
}

.color6 {
  color: #9a3cbc;
}

.color7 {
  color: #fff200;
}