.container {
  width: 826px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-family: 'calibri';
}

.article {
  width: 263px;
  border: grey solid 1px;
  margin: 5px;
}

.exclusif {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  width: 100px;
  text-align: center;
}

.image {
  text-align: center;
  margin: 15px 0;
}

.image img {
  max-width: 100%;
  max-height: 150px;
}

.titre {
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
  color: red;
  border-top: red solid 1px;
  border-bottom: red solid thick;
}

.prices {
  margin: 5px;
  text-align: right;
}

.prices>.oldprice {
  font-size: 0.9em;
  color: darkgray;
  text-decoration: line-through;
}

.prices>.newprice {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}

h1 {
  font-size: 80px;
  margin: 20px 0;
  line-height: 80px;
}

h1 .logo {
  display: inline-block;
  width: 120px;
  height: 120px;
  background: transparent url(images/logod.png) no-repeat left center;
  vertical-align: middle;
}