.container {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.drapeau {
	width: 198px;
	height: 150px;
  border: #333 solid 1px;
  position: relative;
  margin: 0 20px 35px;
}

.drapeau::after {
	position: absolute;
	content: "";
	width: 100%;
	display: block;
	text-align: center;
	font-weight: bold;
	bottom: -25px;
}

.drapeau.horizontaux .bande {
  width: 100%;
  height: calc(100% / 3);
}

#armenie::after {
  content: "Arménie";
}

#armenie .bande1 {
  background-color: #f00;
}

#armenie .bande2 {
  background-color: #0000ab;
}

#armenie .bande3 {
  background-color: #fe9900;
}

#inde::after {
  content: "Inde";
}

#inde .bande1 {
  background-color: #fe6610;
}

#inde .bande2 {
  background-color: #fff;
}

#inde .bande3 {
  background-color: #007143;
}

#autriche::after {
  content: "Autriche";
}

#autriche .bande1, #autriche .bande3 {
  background-color: #fe0022;
}

#autriche .bande2 {
  background-color: #fff;
}

#russie::after {
  content: "Russie";
}

#russie .bande1 {
  background-color: #fff;
}

#russie .bande2 {
  background-color: blue;
}

#russie .bande3 {
  background-color: red;
}

.drapeau.verticaux {
  display: flex;
  flex-wrap: wrap;
}

.drapeau.verticaux .bande {
  width: calc(100% / 3);
  height: 100%;
}

#france::after {
  content: "France";
}

#france .bande1 {
  background-color: #00f;
}

#france .bande2 {
  background-color: #fff;
}

#france .bande3 {
  background-color: #f00;
}

#italie::after {
  content: "Italie";
}

#italie .bande1 {
  background-color: #008360;
}

#italie .bande2 {
  background-color: #fff;
}

#italie .bande3 {
  background-color: #f00;
}

#tchad::after {
  content: "Tchad";
}

#tchad .bande1 {
  background-color: #002561;
}

#tchad .bande2 {
  background-color: #f6c500;
}

#tchad .bande3 {
  background-color: #c00c2f;
}

#belgique::after {
  content: "Belgique";
}

#belgique .bande1 {
  background-color: #000;
}

#belgique .bande2 {
  background-color: #fae043;
}

#belgique .bande3 {
  background-color: #ed2839;
}