/*
Image size = 18 x 16
Pixel size = 32px

color0 = rgb(247, 247, 247)
color1 = rgb(0, 0, 0)
color2 = rgb(255, 25, 20)
color3 = rgb(255, 137, 19)
color4 = rgb(255, 249, 17)
color5 = rgb(60, 179, 36)
*/

#image {
  width: 576px;
  height: 512px;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  width: 32px;
  height: 32px;
}

.color0 { background-color: rgb(247, 247, 247); color: rgb(247, 247, 247); }
.color1 { background-color: rgb(0, 0, 0); color: rgb(0, 0, 0); }
.color2 { background-color: rgb(255, 25, 20); color: rgb(255, 25, 20); }
.color3 { background-color: rgb(255, 137, 19); color: rgb(255, 137, 19); }
.color4 { background-color: rgb(255, 249, 17); color: rgb(255, 249, 17); }
.color5 { background-color: rgb(60, 179, 36); color: rgb(60, 179, 36); }